.contenedor2 {
  background: #fff;
  height: 55vw;
  padding: 10px;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1,
h2,
p,
ul {
  color: #000;
  font-family: fantasy;
  font-size: xxx-large;
}

ul {
  list-style: none;
}

p {
  font-size: 18px;
}